<mat-card>
    <mat-form-field appearance="legacy">
        <mat-select [formControl]="modeSelect" name="mode">
            <mat-option *ngFor="let option of options" [value]="option.value">
                {{option.view}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmitDetails()" class="login-form"
        ngFormOptions="{updateOn: 'submit'}">
        <p *ngIf="modeSelect.value === 'sign_up'">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" type="text" />
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" />
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hidePass ? 'password' : 'text'" formControlName="password" />
                <mat-icon-button matSuffix (click)="hidePass = !hidePass">
                    <mat-icon>{{
                        hidePass ? "visibility_off" : "visibility"
                        }}</mat-icon>
                </mat-icon-button>
            </mat-form-field>
        </p>
        <button mat-stroked-button color="primary" type="submit">Sign In</button>
    </form>
</mat-card>