:host {
    :hover {
        background-color: #477f9c;
        color: #ffffff;
    }
}

mat-card {
    padding: 2%;
    margin: 1rem;
    background-color: #ededed;
    display: inline-flex;
    min-width: 180px;
    min-height: 100px;
    border-radius: 1.5rem;
    flex-direction: column;
    color: #4F4F4F;
    padding-bottom: 0;
    z-index: 1;

    h3, .icon {
        text-align: center;
    }

}