<div class="sidebar">
  <mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" [opened]="sidenavOpen" (openedChange)="sidenavState($event)">
      <mat-card>
        <app-sidebar-option *ngFor="let option of SidebarOptions" [option]="option" (onSelect)="onSelect($event)">
        </app-sidebar-option>
      </mat-card>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>