<div class="container">
    <mat-card class="schedules time">
        <div class="schedule-container">
            <h2>Time Schedule</h2>
            <app-schedule></app-schedule>
            <app-schedule></app-schedule>
            <app-schedule></app-schedule>
            <app-schedule></app-schedule>
        </div>
    </mat-card>
    <mat-card class="schedules action">
        <div class="schedule-container">
            <h2>Action Schedule</h2>
            <app-schedule></app-schedule>
            <app-schedule></app-schedule>
            <app-schedule></app-schedule>
            <app-schedule></app-schedule>
        </div>
    </mat-card>

    <div class="add-btn">
        <button mat-fab class="mat-elevation-z0" aria-label="Add Schedules">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>