<div class="container">
    <mat-card class="schedules time" *ngIf="timingSchedules.length">
        <div class="schedule-container">
            <h2>Time Schedule</h2>
            <app-schedule *ngFor="let sch of timingSchedules" [schedule]="sch"></app-schedule>
        </div>
    </mat-card>
    <mat-card class="schedules action" *ngIf="actionSchedules.length">
        <div class="schedule-container">
            <h2>Action Schedule</h2>
            <app-schedule *ngFor="let sch of actionSchedules" [schedule]="sch"></app-schedule>
        </div>
    </mat-card>

    <div class="add-btn">
        <button mat-fab color="primary" class="mat-elevation-z0" aria-label="Add Schedules">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>