<h1>{{data.title}}</h1>
<form (ngSubmit)="onConfirm()">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput 
                placeholder="Name of the house" 
                type="text" [formControl]="houseName"
            >
            <mat-hint>Give your house a unnique name</mat-hint>
        </mat-form-field>
    </p>
</form>

<div class="btns">
    <button (click)="onNoClick()" mat-raised-button color="warn" type="submit">Cancel</button>
    <button (click)="onConfirm()" mat-raised-button color="primary" type="submit">OK</button>
</div>