<mat-card>
    <div class="top">

        <h3 class="title">{{name}}</h3>
        <button mat-icon-button class="edit">
            <mat-icon>edit</mat-icon>
        </button>

    </div>

    <button mat-icon-button class="state" (click)="stateToggle()">
        <mat-icon [ngStyle]="stateBtnStyle">power_settings_new</mat-icon>
    </button>

    <div class="percentage">{{getValue()}}</div>

    <button mat-icon-button class="expand">
        <mat-icon>fullscreen</mat-icon>
    </button>

    <p class="misc">other stats</p>
</mat-card>