:host {
    height: 100vh;
}

.home {
    box-sizing: content-box;
    padding: 3% 1% 0 4%;
}

app-sidebar {
    display: block;
    height: 75vh;
}

@media screen and (max-width: 800px) {
    app-sidebar {
        height: 89vh;
    }
}