<mat-card>
    <div class="drag">
        <button mat-icon-button>
            <!-- <mat-icon>drag_indicator</mat-icon> -->
            <mat-icon>edit</mat-icon>
        </button>
    </div>

    <div class="name">{{schedule?.name}}</div>
    <div class="description">{{schedule?.repeat_on?.join(' | ')}}</div>
    <div class="time">{{(repeat_time)}}</div>
    <div class="enable">
        <mat-slide-toggle aria-label="enable-or-disable-schedule" [checked]="schedule?.enabled"
            (change)="enableDisableSchedule($event)">
        </mat-slide-toggle>
    </div>
</mat-card>