<div class="container">

    <h2>All the devices in {{house?.name}}:</h2>

    <device-card 
        *ngFor="let device of devices | keyvalue"
        [chip_id]="device.key" 
        [name]="device.value.name"
        [device_type]="device.value.device_type"
        [state]="device.value.state" 
        [value]="device.value.value" 
        (onUpdate)="onChange($event)"
        ></device-card>

    <div class="add-btn">
        <button 
        mat-fab 
        color="primary" 
        class="mat-elevation-z0" 
        aria-label="Add Schedules"
        (click)="openAddModal()"
        >
            <mat-icon>add</mat-icon>
        </button>
    </div>

</div>