<device-card
name="GG"
[state]="false"
[value]="49"
[device_type]="'slider'"
></device-card>

<device-card
name="GG"
[state]="false"
[value]="49"
></device-card>

<device-card
name="GG"
[state]="false"
[value]="49"
></device-card>

<device-card
name="GG"
[state]="false"
[value]="49"
></device-card>

<device-card
name="GG"
[state]="false"
[value]="49"
></device-card>

<device-card
name="GG"
[state]="false"
[value]="49"
></device-card>

<device-card
name="GG"
[state]="false"
[value]="49"
></device-card>

<device-card
name="GG"
[state]="false"
[value]="49"
></device-card>